body {
  background-color: #fdfffc;
  overflow-x: hidden;
}

.mainbox {
  max-width: 700px;
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100vw - 20px - 20px); /* left and right padding */
  max-height: 600px;
  height: 100vh;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(100vw, -50%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #233144;
  transition: transform 0.5s;
}

.mainbox > h1 {
  color: #3d5a80;
}

.mainbox > .button {
  background-color: #98c1d9;
  border: none;
  border-radius: 15px;
  color: #fff;
  display: block;
  font-weight: bold;
  font-size: 30px;
  transition: background-color 0.2s;
}

.mainbox > .addButton {
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.mainbox > .button:hover {
  transition: background-color 0.5s;
  background-color: #e0f3ff;
}

.mainbox > .button:active {
  background-color: #3d5a80;
  transition: none;
}

.mainbox > .beginButton {
  min-width: 40vw;
  max-width: 300px;
  height: 10vh;
  min-height: 60px;
  max-height: 100px;
}

.mainbox > .prevButton {
  position: absolute;
  bottom: 0;
  left: 0;
}

.mainbox > .nextButton {
  position: absolute;
  bottom: 0;
  right: 0;
}

.mainbox > .prevButton,
.mainbox > .nextButton {
  width: min-content;
  height: 5vh;
  min-height: 50px;
  max-height: 100px;
  margin: 15px;
}

input[type=text] {
  height: 25px;
  border: 0;
  width: calc(100% - 2px);
  max-width: 350px;
  margin-left: 1px;
  box-shadow: -8px 10px 0 -7px #919191, 8px 10px 0 -7px #919191;
  transition: box-shadow 0.3s;
  font-size: 25px;
  display: block;
  margin-bottom: 25px;
}

input[type=text]:focus {
  outline: none;
  box-shadow: -8px 10px 0 -7px #3d5a80, 8px 10px 0 -7px #3d5a80;
}

@media (orientation: portrait) {
  .mainbox {
    top: 0;
    transform: translate(100vw, 0);
    height: 100%;
    max-height: none;
  }
}
